<?xml version="1.0"?>
<!--模式配置文件-->
<config>
    <loggerFactory>com.ailian.designpattern.factorypattern.factoryMethod.FileLoggerFactory</loggerFactory>
    <chartNode>line</chartNode>
    <abstractFactory>com.ailian.designpattern.factorypattern.abstractfactory.factory.RedFactory</abstractFactory>
</config>